<!DOCTYPE html>
<html>
  <head>
    <title>FrontEndExampleUsingRailsViewcomponentStimulusMaterialize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Teste 1</a></li>
          <li><a href="#">Teste 2</a></li>
          <li><a href="#">Teste 3</a></li>
        </ul>
      </div>
    </nav>  
    <%= yield %>
  </body>
</html>
